@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	  rel="stylesheet">
<link href="~/css/sb-admin-2.min.css" rel="stylesheet">
@*<div class="row justify-content-center mt-5">
	<div class="col-md-5">
	<section>
	<form id="account" method="post">
	<h2>Use a local account to log in.</h2>
	<hr />
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-floating">

	<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
	<label asp-for="Input.Email" class="form-label"></label>
	<span asp-validation-for="Input.Email" class="text-danger"></span>
	</div>
	<div class="form-floating">

	<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
	<label asp-for="Input.Password" class="form-label"></label>
	<span asp-validation-for="Input.Password" class="text-danger"></span>
	</div>
	<div>
	<div class="checkbox">
	<label asp-for="Input.RememberMe" class="form-label">
	<input class="form-check-input" asp-for="Input.RememberMe" />
	@Html.DisplayNameFor(m => m.Input.RememberMe)
	</label>
	</div>
	</div>
	<div>
	<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
	</div>
	<div>
	<p>
	<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
	</p>
	<p>
	<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
	</p>
	<p>
	<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
	</p>
	</div>
	</form>
	</section>
	</div>
	</div>*@
<body class="bg-gradient-primary" style="font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block " style="background-image:url('https://img.freepik.com/free-vector/house-rent-concept-background_23-2147779979.jpg?size=338&ext=jpg');background-position: center;background-size: cover;"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
									</div>
									<form id="account" method="post" class="user">
										<div class="form-group">
											@*<input type="email" class="form-control form-control-user"
												id="exampleInputEmail" aria-describedby="emailHelp"
												placeholder="Enter Email Address...">*@
											<input asp-for="Input.Email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." />
											@*<label asp-for="Input.Email" class="form-label"></label>*@

										</div>
										<span asp-validation-for="Input.Email" class="text-danger"></span>
										<div class="form-group">
											@*<input type="password" class="form-control form-control-user"
												id="exampleInputPassword" placeholder="Password">*@
											<input asp-for="Input.Password" id="exampleInputPassword" class="form-control form-control-user" placeholder="Password" />
											@*<label asp-for="Input.Password" class="form-label"></label>*@

										</div>
										<span asp-validation-for="Input.Password" class="text-danger"></span>
										<div class="form-group">
											<div class="custom-control custom-checkbox small">
												<input type="checkbox" class="custom-control-input" id="customCheck">
												<label class="custom-control-label" for="customCheck">
													Remember
													Me
												</label>
											</div>
										</div>
										<div>
											<button id="login-submit" type="submit" class="btn btn-success btn-user btn-block">Log in</button>
										</div>
									</form>
									<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user form-horizontal">
                        <div>
                            <p>
                            <div style="gap: 1rem;">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    string imageSrc = string.Empty;
                                    string style = string.Empty;

                                    @if (provider.DisplayName == "Google"){
                                        imageSrc = "https://gfx4arab.com/wp-content/uploads/2020/06/google-icon.svg";
                                        style = "background-color: #DD4B39;color: white;height: 50px;width: 100%;margin-top: .5rem;";
                                    }else if (provider.DisplayName == "Facebook"){
                                        imageSrc = "https://cdn.freebiesupply.com/logos/large/2x/facebook-3-logo-png-transparent.png";
                                        style = "background-color: #4C69BA;color: white;height: 50px;width: 100%;margin-top: .5rem;";
                                    }else if (provider.DisplayName == "Microsoft")
                                        imageSrc = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Microsoft_Store_logo.svg/1200px-Microsoft_Store_logo.svg.png";
                                    
                                    <button type="submit" class="btn btn-light btn-block rounded-pill" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" style="@style">
                                        <img src="@imageSrc" alt="@provider.DisplayName" style="height: 30px;width: 30px;" />
                                        Login With @provider.DisplayName
                                    </button>
                                }
                                </div>
                            </p>
                        </div>
                    </form>
									<hr>
									<div class="text-center">
										<a class="small" href="forgot-password.html">Forgot Password?</a>
									</div>
									<div class="text-center">
										<a class="small" href="register.html">Create an Account!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

</body>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
