@model ReflectionIT.Mvc.Paging.PagingList<RentHouse.Models.House>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging.PagingList
@{
	
	Layout = "~/Areas/Admins/Views/Shared/_Layout.cshtml";
}
@{
	var start = this.Model.StartPageIndex;
	var stop = this.Model.StopPageIndex;
}
<p>
	<a asp-action="CreateHouse">Create New</a>

</p>
@if (TempData["SuccessFull"] != null)
{
	<div class="p-3 mb-2 bg-success text-white">
		@TempData["SuccessFull"]
	</div>
}
@if (TempData["Error"] != null)
{
	<div class="p-3 mb-2 bg-danger text-white">
		@TempData["Error"]
	</div>
}

<form class="form-inline" role="form">
	<div class="form-group input ">
		<input  type="text" class="form-input-search" name="" id="search" placeholder="Nhập" value="@ViewBag.keyword">
	</div>
	<div class="form-group">
		<input id="pagechoose" name="pagechoose" value="@ViewBag.pagechoose" class="form-input" />
	</div>
	<button type="button" id="searchurl" style="width: 60px;height: 45px;border: none;background-color: #0074D9;color: white ; margin-left: 5px">
		<i class="fas fa-search" aria-hidden="true"></i>
	</button>

</form>

<table class="table">
	<thead>
		<tr>
			
			<th>
				@Html.DisplayNameFor(model => model.First().ImgUrl)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().NameHourse)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().Ward)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().City)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().District)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().AllRoom)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().TimeCreate)
			</th>
			
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			{
				ViewData["isdeleted"] = @item.isDeleted ? "opacity:0.7" : "";
			}
			<tr style="@ViewData["isdeleted"];">

				<td>
					<img style="width:70px;height:40px;" src="/img/@item.ImgUrl" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NameHourse)
				</td>
				<td>
					<span class="wikibox">
						@Html.DisplayFor(modelItem => item.Ward)
					</span>
					
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.District)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AllRoom)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TimeCreate)
				</td>
				<td>
					<a asp-action="EditHouse" asp-route-id="@item.Id">Edit</a>|
					<a asp-action="DetailHouse" asp-route-id="@item.Id">Details</a>|
					@*<a asp-action="DetailRoomInHouse" asp-route-id="@item.Id">DetailsRoom</a>|*@
					@if (!item.isDeleted)
					{
						<button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="modal" data-target="#exampleModalCenter" value="@item.Id">Delete</button>
					}
					else
					{
						<button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="modal" data-target="#exampleModalCenter" value="@item.Id">Active</button>
					}

				</td>
			</tr>

			<div id="exampleModalCenter" class="modal fade">
				<div class="modal-dialog modal-confirm">
					<div class="modal-content">
						<div class="modal-header flex-column">
							<h4 class="modal-title w-100">Are you sure?</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<p>Do you really want to delete these records? This process cannot be undone.</p>
						</div>
						<div class="modal-footer justify-content-center">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<form asp-action="DeleteHouse">

								<input type="hidden" id="idremove" name="Id" value="" />

								<input type="submit" value="Sure" class="btn btn-danger" />

							</form>
						</div>
					</div>
				</div>
			</div>
		}
	</tbody>
</table>

@if (this.Model.PageCount > 1)
{
	<ul class="pagination pagination-sm justify-content-end">

		@if (start > 1)
		{
			<li class="page-item">
				<a href="@Url.Action(Model.Action, Model.GetRouteValueForPage(1))" aria-label="First" class="page-link">
					<span aria-hidden="true">1</span>
				</a>
			</li>
		}

		@if (this.Model.PageIndex > 1)
		{
			<li class="page-item">
				<a href="@Url.Action(Model.Action, Model.GetRouteValueForPage(this.Model.PageIndex - 1))" aria-label="Previous" class="page-link">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
		}

		@for (int i = start; i <= stop; i++)
		{
			<li class="page-item @((Model.PageIndex == i) ? "active" : null)">
				@Html.ActionLink(i.ToString(), Model.Action,new{input=@ViewBag.keyword,pageIndex=i,selectpage=@ViewBag.pagechoose},new { @class = "page-link" })
			</li>
		}

		@if (this.Model.PageIndex < this.Model.PageCount)
		{
			<li class="page-item">
				<a href="@Url.Action(Model.Action, Model.GetRouteValueForPage(this.Model.PageIndex + 1))" aria-label="Next" class="page-link">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		}

		@if (stop < this.Model.PageCount)
		{
			<li class="page-item">
				<a href="@Url.Action(Model.Action, Model.GetRouteValueForPage(this.Model.PageCount))" aria-label="Last" class="page-link">
					<span aria-hidden="true">@this.Model.PageCount</span>
				</a>
			</li>
		}

	</ul>
}
@section Scripts{
<script>
		$("button").click(function() {
		var id_remove = $(this).attr('value');
			console.log(id_remove);
			   $("#idremove").attr("value", id_remove );
		});
		$("#searchurl").click(function (){
			var url = 'Admins/?input=' + $("#search").val()+'&selectpage='+$("#pagechoose").val();
			var urlMain = window.location.href;
			var arr = urlMain.split("/");
			var result = arr[0] + "//" + arr[2] + "/" + url;
			window.location.href = result;	
		});
</script>
}



